<h1>Yee List</h1>
<p class="lead">Sails.js + Angular + Node + Express + Mongo = Awesome</p>

<p> 
Platform to sell your used items by using features such as Live Streaming and Real Time Chat to converse with interested users.
</p>